/*****BASE*****/

html {
    scroll-behavior: smooth;
}

body {
	background-color: #f6f6f6;
	margin: 0;
}

main {
	width: 1200px;
	margin: 100px auto 150px auto;
}

/*****ALL*****/

h1, h2, .a-h1 {
	font-family: "Cairo", sans-serif;
}

h2 {
	font-size: 40px;
	text-align: start;
	margin: 10px 0 30px 0;
}

h2, h3, h4, h5, h6, p, a, li, input, select, label {
	font-family: "Montserrat", sans-serif;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-colone {
	flex-direction: column;
}

.centre {
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
}

a {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

ul li a {
	font-size: 14px;
}

.texte-centrer {
	text-align: center;
}

.texte-justify {
	text-align: justify;
}

input[type="submit"] {
    background-color: rgb(226, 226, 226);
    width: 250px;
	border: 0;
    padding: 4px;
}

input[type="submit"]:hover {
	background-color: rgb(203, 203, 203);
    transition: 0.15s;
}

.boutton {
    background-color: rgb(226, 226, 226);
	border: 0;
    padding: 4px 90px;
	text-align: center;
}

.boutton:hover {
	background-color: rgb(203, 203, 203);
    transition: 0.15s;
}

/*****NAV-3*****/

.nav-3 {
	background-color: rgb(215, 215, 215);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	margin-bottom: 50px;
}

.nav-3 h1 {
	font-size: 5em;
	margin: 0;
	line-height: 1;
}

.nav-3 li {
	font-size: 16px;
}

.nav-3 img {
	width: 150px;
}

.nav-3 ul, div {
	display: flex;
	align-items: center;
	margin: 0;
}

.nav-3 ul li {
	margin-right: 20px;
}

.ul-categories {
	padding-top: 20px;
}

.trait {
    width: 1px; 
    height: 50px; 
    background-color: black; 
}

.trait-2 {
    width: 100%; 
    height: 1px;
    background-color: black; 
}

/*****ARTICLE*****/

.annonces {
    margin: 100px auto;
    width: 100%;
}

.grid-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px;
}

.article {
    background-color: rgb(215, 215, 215); 
    padding: 15px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
	box-sizing: border-box;
	border-radius: 2% 2% 0% 0%;
}

.article img {
    width: 100%;
    object-fit: contain;
    margin: auto;
	border-radius: 2% 2% 0% 0%;
}

.trait-2 {
    width: 100%; 
    height: 1px; 
	margin-top: 15px;
    background-color: black; 
}

.article-box-info {
	width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.article-box-info h3, p {
	margin: 15px 0 0 0;
}

.article-box-info p {
	text-decoration: underline;
}

/*****FOOTER*****/

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(215, 215, 215);
	padding: 20px;
}

.footer-titre {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	border-right: 1px solid black;
	padding-right: 20px;
}

.footer-titre h1 {
	font-size: 90px;
	margin: 0;
	line-height: 1;
}

.footer-titre img {
	width: 140px;
	margin: 0px;
}

footer ul {
	border-left: 1px solid black;
	margin: 0;
	padding: 0 70px 0 10px;
	display: flex;
    flex-direction: column;
    gap: 20px;
}

footer p {
	font-size: 12px;
	margin: 0;
	margin-top: auto;
	text-align: center;
}