{% extends 'base.twig' %}

{% block css %}
    <link rel="stylesheet" href="css/a-propos.css">
{% endblock %}  

{% block main %}
    <section class="section-main">
        <h1>À propos de Clay</h1>
        <p class="border-buttom"><b>Bienvenue sur Clay</b>, votre plateforme dédiée au modélisme aérien sous toutes ses formes. Nous avons créé cet espace pour réunir les passionnés d’aviation miniature, qu’ils soient débutants ou experts, autour d’une vision commune : partager, échanger et développer cette passion fascinante.</p>
        <h2>Notre mission</h2>
        <p>Faciliter la mise en relation entre les passionnés de modélisme et leur offrir un lieu unique pour :</p>
        <ul class="square border-buttom">
            <li><b>Acheter, vendre ou louer</b> des modèles réduits d’avions, du plus classique au plus sophistiqué.</li>
            <li><b>Partager des compétences et du savoir</b> à travers des cours de montage, de pilotage ou de réparation.</li>
            <li><b>Découvrir et apprendre</b>, grâce à des échanges enrichissants au sein d’une communauté active.</li>
        </ul>
        <h2>Ce que nous proposons</h2>
        <h3>Un espace d’échange entre particuliers</h3>
        <p>Sur [Nom du Site], chacun peut publier ses annonces pour vendre ou louer des avions miniatures. Vous recherchez une pièce unique ou souhaitez trouver un modèle spécifique ? Notre plateforme regorge d’opportunités.</p>
        <h3>Des services sur mesure</h3>
        <p>Vous débutez et cherchez à apprendre les bases du montage ou du pilotage ? Ou bien vous êtes un expert désireux de partager vos connaissances ? Notre section "Services" vous permet de proposer ou de bénéficier d’ateliers, de cours et même de conseils personnalisés pour optimiser votre expérience.</p>
        <h3>Une communauté de passionnés</h3>
        <p class="border-buttom">Nous croyons au pouvoir de la communauté. Ici, vous pouvez échanger avec d’autres amateurs de modélisme, partager vos réalisations, poser des questions ou simplement vous inspirer des créations et idées des autres membres.</p>
        <h2>Notre vision</h2>
        <p>Nous souhaitons faire de [Nom du Site] bien plus qu’une simple plateforme : un lieu où la passion pour le modélisme aérien prend son envol. Que vous soyez constructeur, collectionneur ou curieux de découvrir cet univers, vous trouverez ici un espace pour explorer et partager librement.</p>
        <p>Rejoignez-nous dès aujourd’hui et devenez un acteur clé de la communauté !</p>
    </section>
{% endblock %}