{% extends 'admin.twig' %}

{% block nav %}
<a href="admin.php">Page admin</a>
{% endblock %}

{% block main %}
<p>Création des bases de données</p>
<p>Attention cela va supprimer toutes les données</p>
<p><a href="createDBconfirm.php">Confirmez la création des tables</a></p>
{% endblock %}
